<div class = "flyout-container" (blur)="exitFlyout()">
  <div class = "title">
    <div class ="text">
      Part Availability
    </div>
    <div class = "icon" (click) = "exitFlyout()">
      <i class = "cross">X</i>
    </div>
  </div>
  <hr class = "separator">
  <div class = "store">
    <div class = "top-line">
      <div class = "icon">
        <i class = "cross">X</i>
      </div>
      <div class ="text">
        5 in Store
      </div>
    </div>
    <div class = "bottom-line" >
      5 at AutoZone Store: 1234
    </div>
  </div>
  <hr class = "separator">
  <div class = "network">
    <div class = "top-line">
      <div class = "icon">
        <i class = "cross">X</i>
      </div>
      <div class ="text">
        5 in Network
      </div>
    </div>
    <div class = "bottom-line" >
      5 at AutoZone Store: 1234
    </div>
    <div class = "bottom-line" >
      5 at AutoZone Store: 1234
    </div>
  </div>
  <hr class = "separator">
  <div class = "hub">
    <div class = "top-line">
      <div class = "icon">
        <i class = "cross">X</i>
      </div>
      <div class ="text">
        5 in Hub
      </div>
    </div>
    <div class = "bottom-line" >
      5 at AutoZone Store: 1234
    </div>
  </div>
</div>