<div class = "outer-shell">
  <div class = "top-row row">
     <div class = "left-section float-left col-lg-1 col-md-2 col-sm-3">
         <div class = "add-item"><span>Add Item</span></div>
     </div>
     <div *ngIf = "!jobGroupMode" class = "right-buttons offset-lg-6 col-lg-5 offset-md-4 col-md-6 offset-sm-1 col-sm-8">
         <button id = "add-shop-job" class = "btn btn-sm btn-outline-primary" (click) = "addShopJob()">+ Add Shop Job</button>
         <button id = "add-job-group" class = "btn btn-sm btn-outline-primary" (click) = "createJobGroup()">+ Add Job Group</button>
     </div>
     <div *ngIf = "jobGroupMode" class = "right-buttons offset-md-9 col-md-2">
       <button id = "exit-job-group" class = "btn btn-sm btn-outline-primary" (click) = "exitJobGroup()">Exit Job Group</button>
   </div>
  </div>
  <div class = "row box-container">
    <!-- <div class = "col-md-6 col-sm-6 left-tiles-wrapper">
      <div class = "left-each-tile" *ngFor = "let tile of [1,2,3,4]">
        <app-boxes></app-boxes>
      </div>
    </div>
    <div class = "col-md-6 col-sm-6 right-tiles-wrapper">
      <div class = "right-each-tile" *ngFor = "let tile of [1,2,3,4]">
        <app-boxes></app-boxes>
    </div>
    </div> -->
    <div class = "test col-md-6 col-sm-12">
      <app-boxes></app-boxes>
      <app-boxes></app-boxes>
      <app-boxes></app-boxes>
      <app-boxes></app-boxes>
    </div>
    <div class = "test col-md-6 col-sm-12">
      <app-boxes></app-boxes>
      <app-boxes></app-boxes>
      <app-boxes></app-boxes>
      <app-boxes></app-boxes>
    </div>
      
  </div>
</div>